.textBlock {
  line-height: 2;
  font-size: 2rem;
  padding-bottom: 10px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 2rem;
}
@media (max-width:500px) {
  nav {
    display: flex;
    flex-direction: column-reverse;
  }
}
nav .nav1 {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.5;
  background-color: #282C37;
  padding: 1% 1%;
}
@media (max-width:500px) {
  nav .nav1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
  }
}
nav .nav1 a:first-child {
  padding: 5px 23px;
}
nav .nav1 a {
  color: #F4F4EC;
  text-decoration: none;
  padding: 5px 16px;
  background: rgba(38, 45, 53, 0.493);
  margin: 0% 2%;
}
nav .nav1 a:hover {
  background: #1C7980;
  color: #F4F4EC;
}
nav .nav2 {
  display: flex;
  justify-content: flex-end;
  flex-grow: 4;
  background-color: #1C7980;
  padding: 1% 1%;
}
@media (max-width:500px) {
  nav .nav2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
  }
}
nav .nav2 a:first-child {
  padding: 5px 21px;
}
nav .nav2 a {
  text-decoration: none;
  padding: 5px 13px;
  color: #F4F4EC;
  margin: 0% 2%;
}
nav .nav2 a:hover {
  background: #F4F4EC;
  color: #1C7980;
}
footer {
  background-color: #1C7980;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 2rem;
  color: #E2E8E8;
}
body {
  background-image: #F4F4EC;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
header {
  padding: 2.5% 0%;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  header {
    height: 90vh;
  }
}
header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 5%;
  color: #E2E8E8;
}
@media (max-width:500px) {
  header .title {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-around;
  }
}
header .title img {
  background: url("/path") no-repeat;
  width: 270px;
  height: 100px;
  text-indent: -9999px;
}
header .title h2 {
  letter-spacing: 0.1rem;
  padding: 5px 0px 20px 0px;
  font-size: 4rem;
  line-height: 45px;
  text-align: center;
  color: rgba(38, 45, 53, 0.493);
  margin-top: 2%;
}
header .title .buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 5%;
}
@media (max-width:500px) {
  header .title .buttons {
    display: flex;
    flex-direction: column;
  }
}
header .title .buttons .btn {
  background: #1C7980;
  margin: 10px 0px 20px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  font-size: 1.5rem;
  color: #E2E8E8;
  box-shadow: none;
  border: none;
  line-height: 45px;
}
header .title .buttons .btn:hover {
  background: #E2E8E8;
  color: #1C7980;
}
header .title .buttons .btn2 {
  background: rgba(38, 45, 53, 0.493);
  margin: 10px 0px 20px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  font-size: 1.5rem;
  color: #E2E8E8;
  box-shadow: none;
  border: none;
  line-height: 45px;
}
header .title .buttons .btn2:hover {
  background: #E2E8E8;
  color: rgba(38, 45, 53, 0.493);
}
.container {
  padding: 2%;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10%;
  padding-top: 5%;
  display: flex;
  justify-content: flex-start;
}
@media (max-width:500px) {
  .container {
    width: 92%;
    margin-bottom: 20%;
  }
}
.container .motto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2%;
}
@media (max-width:500px) {
  .container .motto {
    flex-wrap: nowrap;
    margin-top: 30%;
  }
}
@media (max-width:500px) {
  .container .motto h2 {
    font-size: 2.5rem;
  }
}
.container .motto .positive1 {
  -webkit-animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite both;
  color: #cbe5ee;
}
.container .motto .positive2 {
  -webkit-animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  color: #cbe5ff;
}
.container .motto .positive3 {
  -webkit-animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) 18s infinite both;
  color: #cbe5ee;
}
.container .motto .positive4 {
  -webkit-animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) 14s infinite both;
  color: #cbe5ee;
}
.container .motto .positive5 {
  -webkit-animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: text-pop-up-top 20s cubic-bezier(0.25, 0.46, 0.45, 0.94) 8s infinite both;
  color: #cbe5ee;
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #E2E8E8, 0 2px 0 #E2E8E8, 0 3px 0 #E2E8E8, 0 4px 0 #E2E8E8, 0 5px 0 #E2E8E8, 0 6px 0 #E2E8E8, 0 7px 0 #E2E8E8, 0 8px 0 #E2E8E8, 0 9px 0 #E2E8E8, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #E2E8E8, 0 2px 0 #E2E8E8, 0 3px 0 #E2E8E8, 0 4px 0 #E2E8E8, 0 5px 0 #E2E8E8, 0 6px 0 #E2E8E8, 0 7px 0 #E2E8E8, 0 8px 0 #E2E8E8, 0 9px 0 #E2E8E8, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
