.textBlock {
  line-height: 2;
  font-size: 2rem;
  padding-bottom: 10px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 2rem;
  padding: 1% 0%;
}
@media (max-width:500px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}
nav .nav1 {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: #E2E8E8;
  padding: 1% 1%;
}
@media (max-width:500px) {
  nav .nav1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
  }
}
nav .nav1 a {
  color: #1C7980;
  text-decoration: none;
  padding: 0px 5px;
}
nav .nav2 {
  display: flex;
  justify-content: flex-end;
  flex-grow: 3;
  background-color: #1C7980;
  padding: 1% 1%;
}
@media (max-width:500px) {
  nav .nav2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
  }
}
nav .nav2 a {
  text-decoration: none;
  padding: 0px 5px;
  color: #F4F4EC;
}
footer {
  background-color: #1C7980;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 2rem;
  color: #E2E8E8;
}
body {
  background-image: url("/blue-and-white-clounds.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header {
  padding: 2.5% 0%;
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  header {
    height: 55vh;
  }
}
header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 5%;
}
header .title img {
  background: url("/path") no-repeat;
  width: 270px;
  height: 100px;
  text-indent: -9999px;
}
header .title h2 {
  letter-spacing: 0.1rem;
  padding: 5px 0px 20px 0px;
  font-size: 3rem;
  line-height: 45px;
  text-align: center;
  color: #1C7980;
}
header .title .btn {
  background: #1C7980;
  margin: 10px 0px 20px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  font-size: 1.5rem;
  color: #E2E8E8;
  box-shadow: none;
  border: none;
  line-height: 45px;
}
header .title .btn:hover {
  background: #E2E8E8;
  color: #1C7980;
}
.container {
  margin: 0 auto;
  width: 98%;
  margin-bottom: 20%;
  padding-top: 8%;
  display: flex;
  justify-content: space-between;
  align-items: space-evenly;
  text-align: center;
}
.container p {
  font-size: 3rem;
  font-style: italic;
  color: #1C7980;
}
.container h2 {
  font-size: 3.2rem;
}
@media (max-width:500px) {
  .container {
    padding-top: 6%;
    width: 92%;
    margin-bottom: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
.container .without {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
.container .without .w-o1 {
  padding-top: 5%;
}
@media (max-width:500px) {
  .container .without {
    padding-top: 6%;
    width: 100%;
  }
}
.container .without .var-line {
  width: 3px;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 150px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4.48%;
  height: 1%;
}
.container .with {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width:500px) {
  .container .with {
    padding-top: 5%;
    width: 100%;
  }
}
.container .with .var-line {
  width: 3px;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 150px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4.48%;
  height: 1%;
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #E2E8E8, 0 2px 0 #E2E8E8, 0 3px 0 #E2E8E8, 0 4px 0 #E2E8E8, 0 5px 0 #E2E8E8, 0 6px 0 #E2E8E8, 0 7px 0 #E2E8E8, 0 8px 0 #E2E8E8, 0 9px 0 #E2E8E8, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #E2E8E8, 0 2px 0 #E2E8E8, 0 3px 0 #E2E8E8, 0 4px 0 #E2E8E8, 0 5px 0 #E2E8E8, 0 6px 0 #E2E8E8, 0 7px 0 #E2E8E8, 0 8px 0 #E2E8E8, 0 9px 0 #E2E8E8, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
