header{
    .flexColumn;
}

.container {

    .story {
        border:1px solid black;
    }

    .features {
        border:1px solid black;

    }

    .use-case {
        border:1px solid black;

    }

    .team {
        border:1px solid black;

    }











}
