nav {
    display:flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 2rem;
    padding: 1% 0%;

    @media @phone {
        display:flex;
        flex-direction: column;
    }
    .nav1{
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        background-color: @div-color;
        padding: 1% 1%;
        @media @phone {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 15vh;
        }

        a {
            color: @btn-bgnd;
            text-decoration: none;
            padding: 0px 5px;
            
        }
    }

    .nav2{

        display: flex;
        justify-content: flex-end;
        flex-grow: 3;
        background-color: @btn-bgnd;
        padding: 1% 1%;
        @media @phone {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 20vh;
        }
        a {
            text-decoration: none;
            padding: 0px 5px;
            color: @white-space;
        }
    }
}
