nav {
    display:flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 2rem;
    padding: 1% 0%;

    @media @phone {
        display:flex;
        flex-direction: column-reverse;
    }
    .nav1{
        display: flex;
        justify-content: space-around;
        flex-grow: .5;
        background-color: @white-space;
        padding: 1% 1%;
        @media @phone {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 15vh;
        }

        a:first-child {
            padding: 5px 23px;
            
        }

        a {
            color: @white-space;
            text-decoration: none;
            padding: 5px 16px;
            // font-weight: bold;
            background: @app-black;
            margin:0% 2%;

            &:hover {
                background: @btn-bgnd;
                color:@white-space;
            }
            
        }
    }

    .nav2{

        display: flex;
        justify-content: flex-end;
        flex-grow: 4;
        background-color: @btn-bgnd;
        padding: 1% 1%;
        @media @phone {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 20vh;
        }

        a:first-child {
            padding: 5px 21px;
            
        }

        a {
            text-decoration: none;
            padding: 5px 13px;
            color: @white-space;
            // font-weight: bold;
            margin:0% 2%;
            // background: @white-space;

            &:hover {
                background: @white-space;
                color:@btn-bgnd;
              }

        }
    }
}
