// color variables
@btn-bgnd: #1C7980;
@white-space:  #F4F4EC;
@div-color: #E2E8E8;
@app-black: rgba(38, 45, 53, 0.493);
@cloud-bgnd-3: url("/site-bgnd-grayscale.jpg");
@cloud-bgnd: url("/blue-and-white-clounds.jpg");
@cloud-bgnd-2: url("/image.jpg");
@cloud-icon-bgnd: url("/computer-icons-cloud-computing-symbol-cloud.jpg");



// Screen Variables

@phone: ~'(max-width:500px)';
@large: ~'(max-width:1300px)';